
  @media (max-width: 414px){

    h1{
      transform: rotate(90deg);
      transform-origin: left top;
      white-space: nowrap;
      display: inline-block;
      font-size: 5rem;
      font-family:  Helvetica, sans-serif, sans-serif;
      position: absolute;
      top: 50px;
      left: 90%;
      margin: 2px;
    }

    h2{
      transform: rotate(90deg);
      transform-origin: left top;
      white-space: nowrap;
      display: inline-block;
      font-size: 4rem;
      font-family:  Helvetica, sans-serif, sans-serif;
      position: absolute;
      top: 50px;
      left: 70%;
      margin: 2px;
      color: black;
      text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff,
        -2px -2px 0 #fff,  
         2px -2px 0 #fff,
        -2px  2px 0 #fff,
         2px  2px 0 #fff;
    }

    body{
      background-color: black;
      color: white;
    }
    
    .timer-wrapper{
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: 100%;
      padding: 2px;
      font-size: 8rem;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 15px;
    }

  .timer-wrapper > .timer > .hour{
     color: white;
      margin-bottom: 100px;
    }

    .timer-wrapper > .timer > .minutes{
      color: white;
      margin-bottom: 100px;
    }

    .timer-control{
      position: absolute;
      bottom: 100px;
      left: 50%;
    }



    .timer-control > .timer{
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .timer-control > .timer > .control{
      display: flex;
      flex-direction: row;


    }

    .timer-control > .timer > .hour > .value{
      color: red;
    }

    .timer-control > .timer > .minutes > .value{
      color: red;
    }

    .timer-control > .timer > .seconds > .value{
      color: red;
    }



    .finished-notif{
      display: none;
      position: absolute;
      height: 80%;
      width: 90%;
      top: 45px;
      background-color: white;
      color: black;
      text-align: center;
      font-size: 1.5rem;
      margin: 10px;
      border-radius: 25px;
    }

    .time-label{

      position: relative;
      left: 50px;
      color: violet;
      font-size: 2rem;
  
  }
}

/* Targeting average laptop screens */
@media (min-width: 1000px) and (max-width: 1920px) {
  /* Styles for laptops */

  /* Base Styles (for Desktop) */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 5rem;
  white-space: nowrap;
  margin: 2px;
}

h2 {
  position: absolute;
  top: 20px;
  left: 70%;
  font-size: 4rem;
  white-space: nowrap;
  color: black;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff,
    -2px -2px 0 #fff,  
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;
}

.timer-wrapper {
  position: relative;
  left: 15%;
  top: 10%;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  font-size: 8rem;
  margin-left: 15px;
}

.timer-wrapper > .timer {
  display: flex;
  gap: 20px;
  font-size: 15rem;
}

.timer-wrapper > .timer > .hour,
.timer-wrapper > .timer > .minutes {
  border-right: 1px solid red;
}

.timer-control {
  position: relative;
  left: 40%;
  top: 12%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}

.timer-control > .timer {
  display: flex;
  color: red;
  font-size: 2.5rem;
}

.control button {
  position: relative;
  right: 43px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: red;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: white;
  margin-bottom: 5px;
}

.timer-actions {
  width: fit-content;
}

.timer-actions button {
  position: relative;
  left: 30%;
  height: 50px;
  width: 50px;
  border-radius: 30%;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button:active{

  transform: scale(0.95);
  box-shadow: 0 3px, 6px rgba(0,0,0,0.3);
}

.finished-notif {
  display: none;
  position: absolute;
  height: 80%;
  width: 90%;
  top: 45px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  border-radius: 25px;
}

.time-label{

    position: relative;
    left: 100px;
    color: violet;
    font-size: 4rem;

}


}
